@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,800,600,700,300");
@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
@import "app/styles/main.css";
@import "app/styles/normalize.css";
/* Component LESS */
body.landing {
  background-color: #3a173f;
}
.hero-content {
  position: relative;
  min-height: 600px;
  background-image: url(/app/assets/images/bloc_jams_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.hero-content .hero-title {
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-shadow: 1px 1px 0px #3a173f;
}
.selling-points {
  position: relative;
}
.point {
  position: relative;
  padding: 2rem;
  text-align: center;
}
.point .point-title {
  font-size: 1.25rem;
}
.ion-music-note,
.ion-radio-waves,
.ion-iphone {
  color: #e93275;
  font-size: 5rem;
}
.point {
  position: relative;
  padding: 2rem;
  text-align: center;
  opacity: 1;
}
body.album {
  background-image: url(/app/assets/images/blurred_backgrounds/blur_bg_3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.album-cover-art {
  position: relative;
  left: 20%;
  margin-top: 1rem;
  width: 60%;
}
.album-view-details {
  position: relative;
  top: 1.5rem;
  padding: 1rem;
}
.album-view-details .album-view-title {
  font-weight: 300;
  font-size: 2rem;
}
.album-view-details .album-view-artist {
  font-weight: 300;
  font-size: 1.5rem;
}
.album-view-details .album-view-release-info {
  font-weight: 300;
  font-size: 0.75rem;
}
.album-view-song-list {
  width: 90%;
  margin: 1.5rem auto;
  font-weight: 300;
  font-size: 0.75em;
}
.album-view-song-item {
  height: 3rem;
  /* #1 */
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.song-item-number {
  width: 5%;
}
.song-item-title {
  width: 85%;
}
.song-item-duration {
  width: 5%;
}
@media (max-width: 40rem) and (min-width: 20rem) {
  .album-view-details {
    text-align: center;
  }
  .album-view-title {
    margin-top: 0;
  }
}
@media (max-width: 64rem) and (min-width: 20rem) {
  .album-view-song-list {
    position: relative;
    top: 1rem;
    width: 80%;
    margin: auto;
  }
}
body.collection {
  background-image: url(/app/assets/images/blurred_backgrounds/blur_bg_2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.album-covers {
  position: relative;
}
.collection-album-container {
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.collection-album-container .caption {
  margin-top: 10px;
}
.collection-album-container .caption p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}
.collection-album-container .caption p a {
  color: rgba(255, 255, 255, 0.6);
}
.collection-album-container .caption p a.album-name {
  color: white;
}
.collection-album-container img {
  width: 80%;
}
/* Add Component LESS Above */
/* Required for Angular UI Bootstrap */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
/* Personal preference for BS modal.  The LESS below makes the backdrop white and
   causes the modal to fade in rather than slide in. */
